body {
  background-color: #F2F2F2 !important;
}

.content {
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  height: 83vh;
  margin: 50px;
}

.mb-9 {
  margin-bottom: 90px;
}
