body {
  background-color: #F2F2F2 !important;
}

.fs-sm {
  font-size: 16px
}

.content {
  padding: 50px;
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  height: 83vh;
  margin: 50px;
}

.table-scrollable {
  max-height: 300px;
  overflow-y: auto;
  display: block;
}

.w-col-num {
  width: 80px;
}

.w-col-desc {
  width: 800px;
}

.w-col-data-inicio, w-col-data-fim {
  width: 200px;
}
