<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" th:href="@{/admin.css}">
  <title>Registro Atividades | Admin</title>
  <link th:replace="~{fragments/bootstrap :: bootstrapLink}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navBar}"></div>
<div id="activePage" th:data-page="${activePage}"></div>
<div class="content">
  <div class="container">
    <div th:if="${mensagemSucesso}" class="alert alert-success fade show my-3" role="alert">
      <span th:text="${mensagemSucesso}"></span>
      <button type="button" class="btn-close" hidden data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${mensagemErro}" class="alert alert-danger fade show my-3" role="alert">
      <span th:text="${mensagemErro}"></span>
      <button type="button" class="btn-close" hidden data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="d-flex justify-content-between align-items-start">
      <h2 class="mb-4">Administrando <span th:text="${#strings.capitalize(activePage)}"></span></h2>
      <button type="button" class="btn btn-primary text-uppercase" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
        Nova
      </button>
    </div>
    <div th:class="${#lists.size(itens) > 15} ? 'table-scrollable' : ''">
      <div>
        <table class="table table-light">
          <thead>
          <tr>
            <th class="w-col-num">Nº</th>
            <th class="w-col-desc">Descrição</th>
            <th class="w-col-acoes">Ações</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item, iterStat : ${itens}" th:data-id="${item.id}">
            <td th:text="${iterStat.count}">Contador</td>
            <td class="coluna-editavel" th:text="${item.nome}">Descricaos</td>
            <td>
              <div class="d-flex gap-3">
                <a th:href="@{/categorias/{id}(id=${item.id})}" aria-label="Detalhar">
                  <img th:src="@{/img/detalhes.png}" alt="Ícone de uma lupa">
                </a>
                <a href="#" aria-label="Deletar">
                  <img th:src="@{/img/deletar.png}" alt="Ícone de uma lata de lixo">
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form th:object="${item}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5"
              id="exampleModalLabel">
            Cadastro de <span th:text="${#strings.capitalize(activePage)}"></span>
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating my-3">
            <input type="text"
                   class="form-control"
                   id="floatingInputTitulo"
                   placeholder="Digite um nome"
                   th:field="*{nome}"
                   required>
            <label for="floatingInputTitulo">
              Digite um nome
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Criar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script th:replace="~{fragments/bootstrap :: bootstrapScript}"></script>
<script th:src="@{/js/tabela-editavel.js}"></script>
<script th:src="@{/js/fade-alert.js}"></script>
</body>
</html>
